{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}
    <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}€uro</strong> par nuit
            </p>
            <a href="#" class="btn btn-primary">Réserver</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.content|raw }}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images  %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"
                                {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images  %}

                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ image.url }}" class="d-block w-100" alt="First slide">
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ ad.title }}</h5>
                                <p>{{ image.caption }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img src="https://randomuser.me/api/portraits/men/68.jpg" alt="avatar">
                    </div>
                    <div class="col">
                        <h3>JEAN Dupont</h3>
                        <span class="badge badge-primary">3 annonces</span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, quas repudiandae? Asperiores dicta
                    magnam nam, nesciunt nihil non veniam. Blanditiis!</p>
                <p>Deserunt dolor ducimus eveniet, itaque obcaecati optio sed velit. Amet atque dolor doloremque ea hic
                    perferendis perspiciatis placeat sequi vel.</p>
                <p>Aliquam cupiditate ex fugiat fugit mollitia temporibus. Consectetur consequuntur ea eum incidunt iste
                    molestias natus obcaecati, officia tenetur, vitae voluptatum!</p>
            </div>
        </div>
    </div>
{% endblock %}



